aiohappyeyeballs==2.6.1
aiohttp==3.11.13
aiosignal==1.3.2
asttokens==3.0.0
attrs==25.1.0
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
comm==0.2.2
contourpy==1.3.1
cycler==0.12.1
dateparser==1.2.1
decorator==5.2.1
dill==0.3.9
executing==2.2.0
finlab-crypto==0.2.27
fonttools==4.56.0
frozenlist==1.5.0
idna==3.10
imageio==2.37.0
ipython==9.0.2
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.5
jedi==0.19.2
Jinja2==3.1.6
joblib==1.4.2
jupyterlab_widgets==3.0.13
kiwisolver==1.4.8
llvmlite==0.44.0
MarkupSafe==3.0.2
matplotlib==3.10.1
matplotlib-inline==0.1.7
multidict==6.1.0
mypy-extensions==1.0.0
numba==0.61.0
numpy==2.1.3
packaging==24.2
pandas==2.2.3
parso==0.8.4
patsy==1.0.1
pillow==11.1.0
plotly==5.24.1
prettytable==3.15.1
prompt_toolkit==3.0.50
propcache==0.3.0
pure_eval==0.2.3
pycryptodome==3.21.0
pyecharts==1.9.1
Pygments==2.19.1
pyparsing==3.2.1
python-binance==1.0.28
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
regex==2024.11.6
requests==2.32.3
schedule==1.2.2
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
simplejson==3.20.1
six==1.17.0
stack-data==0.6.3
statsmodels==0.14.4
tenacity==9.0.0
threadpoolctl==3.5.0
tqdm==4.67.1
traitlets==5.14.3
tzdata==2025.1
tzlocal==5.3.1
urllib3==2.3.0
vectorbt==0.27.2
wcwidth==0.2.13
websockets==15.0.1
widgetsnbextension==4.0.13
yarl==1.18.3
